
config:{

    openflow:{
        logical-switches:{
            #Name of the switch dp0
            dp0:{
                dpid = "0x100"; #Must be hexadecimal
                version = 1.0;
#		version = 1.2;
                description="This is a switch";

                #Controller
                mode="active"; #active, passive, (TODO: both)
                master-controller-ip="127.0.0.1";
#		master-controller-port=6633;
                master-controller-port=16633;
                reconnect-time=1; #seconds

                #Tables and MA
                num-of-tables=1;

                #Physical ports attached to this logical switch. This is mandatory
                #The order and position in the array dictates the number of
                # 1 -> veth0, 2 -> veth2, 3 -> veth4 4-> veth6
                ports = ("OLT0", "vDIN1_0");

            };
        };
    };
};

